.home {
    background-color: #CFCFCF;
    
}

.card {
    height: 736px;
    width: 1240px;
    background-color: white;
    // rgba: red, green, blue, alpha (opacity)
    box-shadow: 0 4px 3px 0 rgba(207, 207, 207, .06);
    border-radius: 7px;
}